body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f5f9; /* Light blue-gray background */
}

header {
    background-color: #3b5998; /* Blue */
    color: #fff;
    text-align: center;
    padding: 20px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

main {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 20px;
    max-width: 1200px; /* Maximum width of the main content */
    margin: 0 auto; /* Center the main content */
}

.product {
    width: calc(25% - 40px); /* Four products per row with spacing */
    margin: 20px;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

@media (max-width: 1200px) {
    .product {
        width: calc(33.33% - 40px); /* Three products per row with spacing */
    }
}

@media (max-width: 768px) {
    .product {
        width: calc(50% - 40px); /* Two products per row with spacing */
    }
}

@media (max-width: 576px) {
    .product {
        width: calc(100% - 40px); /* One product per row on smaller screens */
    }
}

.product:hover {
    transform: translateY(-5px);
}

.product-image {
    flex: 0 0 200px; /* Fixed width for the image */
}

.product-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.product-details {
    flex: 1;
    padding: 20px;
}

.product-details h2 {
    margin-top: 0;
}

.description {
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition: height 0.3s, opacity 0.3s;
}

.product.expanded .description {
    height: auto;
    opacity: 1;
}

.price-btn {
    background-color: #2165e2; /* Blue-violet */
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    
}
.buttton {
    text-align: center;
    
}
a {
    text-decoration: none;
}
.price-btn:hover {
    background-color: #9400d3; /* Violet */
}

footer {
    background-color: #3b5998; /* Blue */
    color: #fff;
    text-align: center;
    padding: 20px 0;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}
.payment {
    display: flex;
    justify-content: center;
    align-items: center;
}